@using WaiterRestaurantApplication.Models;
@model WaiterRestaurantApplication.Models.Restaurant
@{
    ViewBag.Title = "Confirm Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirm Employees</h2>
@if (Model.PendingEmployees.Count > 0)
{
    <table class="table table-striped table-bordered">
        <tr>
            <th>User Name</th>
            <th>Email Address</th>
            <th>Actions</th>
        </tr>
        @foreach (ApplicationUser user in Model.PendingEmployees)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    @Html.ActionLink("confirm", "ConfirmEmployee", new { restaurantId = Model.RestaurantId, userId = user.Id }, new { @class = "btn btn-success btn-xs" })
                    @Html.ActionLink("deny", "DenyEmployee", new { restaurantId = Model.RestaurantId, userId = user.Id }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }
    </table>

}
else
{
    <p>No employees to confirm.</p>
}
