@model WaiterRestaurantApplication.Models.Restaurant

@{
    ViewBag.Title = "Add Diner to Wait List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Diner to Wait List</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" name="restaurantId" value="@Model.RestaurantId">
        <input type="hidden" name="isHostEntry" value="true">
        <div class="form-group">
            <label class="control-label col-md-2" for="dinerName">Diner Name</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="dinerName" name="dinerName" type="text" value="">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="dinerPhone">Diner Phone</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="dinerPhone" name="dinerPhone" type="text" value="">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="partySize">Party Size</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="partySize" name="partySize" type="text" value="">
                <span id="helpBlock" class="help-block">(Number of people in group)</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}